@font-face {
    font-family: 'Inter';
    src: url('Inter-BoldItalic.eot');
    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
        url('Inter-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Inter-BoldItalic.woff2') format('woff2'),
        url('Inter-BoldItalic.woff') format('woff'),
        url('Inter-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-MediumItalic.eot');
    src: local('Inter Medium Italic'), local('Inter-MediumItalic'),
        url('Inter-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Inter-MediumItalic.woff2') format('woff2'),
        url('Inter-MediumItalic.woff') format('woff'),
        url('Inter-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff'),
        url('Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff'),
        url('Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Italic.eot');
    src: local('Inter Italic'), local('Inter-Italic'),
        url('Inter-Italic.eot?#iefix') format('embedded-opentype'),
        url('Inter-Italic.woff2') format('woff2'),
        url('Inter-Italic.woff') format('woff'),
        url('Inter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
        url('Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff'),
        url('Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

