@font-face {
  font-family: "Helvetica";
  src: url("HelveticaBold.eot");
  src: url("HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("HelveticaBold.woff") format("woff"),
    url("HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Helvetica";
  src: url("HelveticaBoldItalic.eot");
  src: url("HelveticaBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("HelveticaBoldItalic.woff") format("woff"),
    url("HelveticaBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Helvetica";
  src: url("HelveticaMedium.eot");
  src: url("HelveticaMedium.eot?#iefix")format("embedded-opentype"),
    url("HelveticaMedium.woff") format("woff"),
    url("HelveticaMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica";
  src: url("HelveticaRegular.eot");
  src: url("HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("HelveticaRegular.woff") format("woff"),
    url("HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url("HelveticaItalic.eot");
  src: url("HelveticaItalic.eot?#iefix")format("embedded-opentype"),
    url("HelveticaItalic.woff") format("woff"),
    url("HelveticaItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url("HelveticaLight.eot");
  src: url("HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("HelveticaLight.woff") format("woff"),
    url("HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica";
  src: url("HelveticaLightItalic.eot");
  src: url("HelveticaLightItalic.eot?#iefix")format("embedded-opentype"),
    url("HelveticaLightItalic.woff") format("woff"),
    url("HelveticaLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
