@import "tailwindcss";

@theme {

  /* Colors */
  --color-foreground: #121212;
  --color-background-dark: #1E1D1D;
  --color-background-light: #F3F3F3;
  --color-background-dark-card: #333333;
  --color-primary-text: #6E6701;
  --color-primary-stroke: #EBDB00;
  --color-primary: #FFF56E;
  --color-primary-light-3: #FFF89C;
  --color-primary-light-4: #FFFAC5;
  --color-primary-light-5: #FFFDE2;
  --color-light-main: #717171;
  --color-dark-main: #ADADAD;
  --color-dark-stroke-hover: #2C2C2C;
  --color-gray-hover: #4B4B4B;
  --color-light-stroke: #E7E7E7;
  --color-danger: #FF3B30;
  --color-success: #34C759;


  /* Typography */
  --font-primary: 'Helvetica', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --text-xs--line-height: 18px;
  --text-subtitle: 18px;
  --text-subtitle--line-height: 24px;
  --text-subtitle--font-weight: 300;
  --text-subtitle-lg: 24px;
  --text-subtitle-lg--line-height: 28px;
  --text-subtitle-lg--font-weight: 300;
  --text-md-button: 18px;
  --text-md-button--line-height: 24px;
  --text-md-button--font-weight: 400;
  --text-lg-button: 24px;
  --text-lg-button--line-height: 28px;
  --text-lg-button--font-weight: 400;
  --text-h4: 24px;
  --text-h4--line-height: 32px;
  --text-h4--font-weight: 400;
  --text-h3: 32px;
  --text-h3--line-height: 40px;
  --text-h3--font-weight: 400;
  --text-h2: 40px;
  --text-h2--line-height: 40px;
  --text-h2--font-weight: 400;
  --text-h1: 48px;
  --text-h1--line-height: 56px;
  --text-h1--font-weight: 400;
  --text-h5: 32px;
  --text-h5--line-height: 32px;
  --text-h5--font-weight: 400;
  --text-h4-lg: 40px;
  --text-h4-lg--line-height: 48px;
  --text-h4-lg--font-weight: 400;
  --text-title-lg: 56px;
  --text-title-lg--line-height: 56px;
  --text-title-lg--font-weight: 400;
  --text-h3-lg: 64px;
  --text-h3-lg--line-height: 64px;
  --text-h3-lg--font-weight: 400;
  --text-h2-lg: 80px;
  --text-h2-lg--line-height: 80px;
  --text-h2-lg--font-weight: 400;
  --text-h1-lg: 88px;
  --text-h1-lg--line-height: 96px;
  --text-h1-lg--font-weight: 400;
  --text-person-name: 96px;
  --text-person-name--line-height: 96px;
  --text-person-name--font-weight: 400;
  --text-company-name: 120px;
  --text-company-name--line-height: 120px;
  --text-company-name--font-weight: 400;
  --text-step-number: 200px;
  --text-step-number--line-height: 200px;
  --text-step-number--font-weight: 400;
  --text-body-xs: 14px;
  --text-body-xs--line-height: 18px;
  --text-body-xs--font-weight: 400;
  --text-body-sm: 16px;
  --text-body-sm--line-height: 20px;
  --text-body-sm--font-weight: 400;
  --text-body-md: 18px;
  --text-body-md--line-height: 24px;
  --text-body-md--font-weight: 400;
  --text-body-lg: 24px;
  --text-body-lg--line-height: 32px;
  --text-body-lg--font-weight: 400;
  --text-header-field: 16px;
  --text-header-field--line-height: 24px;
  --text-header-field--font-weight: 500;

  /* Spacing */
  --spacing-hd: 1920px;
  --spacing-content-row: 1400px;
  --spacing-content-max: 1288px;
  --spacing-logo-sm: 123px;
  --spacing-logo-lg: 217px;

  /* Aspect */
  --aspect-logo: 217/85;

}

body {
  @apply min-w-xs min-h-screen font-primary bg-background-dark text-white;
}

@utility content {
  @apply w-full mx-auto px-4 xl:px-14 max-w-content-row 2xl:max-w-hd;
}

@layer components {
  /* Typography */
  .heading-1 {
    @apply text-h1 xl:text-h1-lg uppercase;
  }

  /* Navigation */
  .header-wrap {
    @apply w-full absolute z-6 inset-x-0 top-0 min-w-xs;
    &.mob-open {
      @apply h-auto;
    }
  }
  .header-mob-wrap {
    @apply content h-full relative z-7 xl:hidden group-[.mob-open]:bg-background-dark px-6;
  }
  .header-mob-top {
    @apply flex items-center justify-between gap-4 h-full min-h-16 xl:min-h-33;
  }
  .header-mob-inner {
    @apply hidden group-[.mob-open]:flex flex-col items-start gap-10 py-10
  }
  .header-contact {
    @apply flex flex-col gap-2 items-start;
  }
  .header-contact-text {
    @apply text-dark-main font-secondary text-body-xs w-full pb-2;
  }
  .header-contact-link {
    @apply text-white text-body-lg hover:underline
  }
  .header-button-wrap {
    @apply w-full flex items-center justify-center;
  }
  .header-socials {
    @apply flex items-center justify-center gap-8 w-full;
  }
  .header-socials-item {
    @apply flex items-center justify-center size-11 shrink-0;
    & > img {
      @apply w-full;
    }
  }

  .nav-wrap {
    @apply flex gap-6 flex-col xl:flex-row items-start xl:items-center;
  }

  .nav-link {
    @apply text-body-md font-medium xl:text-header-field font-secondary text-white;
  }

  /* Buttons */
  .btn-primary {
    @apply rounded-full border border-transparent py-3 px-4 flex items-center justify-center gap-4 transition-colors cursor-pointer;
    &:hover {
      @apply border-light-stroke;
    }
    &:disabled {
      @apply cursor-default border-transparent;
      .btn-primary-text {
        @apply text-dark-main;
      }
      .btn-primary-icon {
        @apply opacity-80 bg-dark-main;
      }
    }
    &.--yellow {
      .btn-primary-icon {
        @apply bg-primary;
      }
      &:hover {
        @apply border-primary-light-3;
        .btn-primary-icon {
          @apply bg-primary-light-3;
        }
      }
      &:disabled {
        .btn-primary-text {
          @apply text-light-main;
        }
        .btn-primary-icon {
          @apply bg-light-main;
        }
        &:hover {
          @apply border-transparent;
        }
      }
    }
    &.--dark {
      &:hover {
        @apply border-foreground;
      }
      .btn-primary-text {
        @apply text-foreground uppercase
      }
      .btn-primary-icon {
        @apply bg-foreground
      }
    }
    .btn-primary-text {
      @apply text-lg-button text-white grow;
    }
    .btn-primary-icon {
      @apply bg-white w-14 h-7 shrink-0 rounded-full flex items-center justify-center;
      img {
        @apply w-6;
      }
    }
  }


}