@import "tailwindcss";

@theme {

  /* Colors */
  --color-foreground: #121212;
  --color-background-dark: #1E1D1D;
  --color-background-light: #F3F3F3;
  --color-background-dark-card: #333333;
  --color-primary-text: #6E6701;
  --color-primary-stroke: #EBDB00;
  --color-primary: #FFF56E;
  --color-primary-light-3: #FFF89C;
  --color-primary-light-4: #FFFAC5;
  --color-primary-light-5: #FFFDE2;
  --color-light-main: #717171;
  --color-dark-main: #ADADAD;
  --color-dark-stroke-hover: #2C2C2C;
  --color-gray-hover: #4B4B4B;
  --color-light-stroke: #E7E7E7;
  --color-danger: #FF3B30;
  --color-success: #34C759;


  /* Typography */
  --font-primary: 'Helvetica', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --text-xs--line-height: 18px;
  --text-subtitle: 18px;
  --text-subtitle--line-height: 24px;
  --text-subtitle--font-weight: 300;
  --text-subtitle-lg: 24px;
  --text-subtitle-lg--line-height: 28px;
  --text-subtitle-lg--font-weight: 300;
  --text-md-button: 18px;
  --text-md-button--line-height: 24px;
  --text-md-button--font-weight: 400;
  --text-lg-button: 24px;
  --text-lg-button--line-height: 28px;
  --text-lg-button--font-weight: 400;
  --text-h4: 24px;
  --text-h4--line-height: 32px;
  --text-h4--font-weight: 400;
  --text-h3: 32px;
  --text-h3--line-height: 40px;
  --text-h3--font-weight: 400;
  --text-h2: 40px;
  --text-h2--line-height: 40px;
  --text-h2--font-weight: 400;
  --text-h1: 48px;
  --text-h1--line-height: 56px;
  --text-h1--font-weight: 400;
  --text-h5: 32px;
  --text-h5--line-height: 32px;
  --text-h5--font-weight: 400;
  --text-h4-lg: 40px;
  --text-h4-lg--line-height: 48px;
  --text-h4-lg--font-weight: 400;
  --text-title-lg: 56px;
  --text-title-lg--line-height: 56px;
  --text-title-lg--font-weight: 400;
  --text-h3-lg: 64px;
  --text-h3-lg--line-height: 64px;
  --text-h3-lg--font-weight: 400;
  --text-h2-lg: 80px;
  --text-h2-lg--line-height: 80px;
  --text-h2-lg--font-weight: 400;
  --text-h1-lg: 88px;
  --text-h1-lg--line-height: 96px;
  --text-h1-lg--font-weight: 400;
  --text-person-name: 96px;
  --text-person-name--line-height: 96px;
  --text-person-name--font-weight: 400;
  --text-company-name: 120px;
  --text-company-name--line-height: 120px;
  --text-company-name--font-weight: 400;
  --text-step-number: 200px;
  --text-step-number--line-height: 200px;
  --text-step-number--font-weight: 400;
  --text-body-xs: 14px;
  --text-body-xs--line-height: 18px;
  --text-body-xs--font-weight: 400;
  --text-body-sm: 16px;
  --text-body-sm--line-height: 20px;
  --text-body-sm--font-weight: 400;
  --text-body-md: 18px;
  --text-body-md--line-height: 24px;
  --text-body-md--font-weight: 400;
  --text-body-lg: 24px;
  --text-body-lg--line-height: 32px;
  --text-body-lg--font-weight: 400;
  --text-header-field: 16px;
  --text-header-field--line-height: 24px;
  --text-header-field--font-weight: 500;

  /* Spacing */
  --spacing-hd: 1920px;
  --spacing-content-row: 1400px;
  --spacing-content-max: 1288px;
  --spacing-logo-sm: 123px;
  --spacing-logo-lg: 217px;
  --spacing-half-lg: 652px;
  --spacing-input-height: 48px;

  /* Aspect */
  --aspect-logo: 217/85;
  --aspect-blog-pic: 379/213;
  --aspect-article-pic: 343/193;

  /* Breakpoints */
  --breakpoint-3xl: 1660px;

}

body {
  @apply min-w-xs min-h-screen font-primary bg-background-dark text-white;
}

@utility content {
  @apply w-full mx-auto px-4 xl:px-14 max-w-content-row xl:max-w-hd [&.--fit]:max-w-lg [&.--fit]:xl:max-w-hd;
}

@utility page-section {
  @apply py-10 xl:py-20;
}

@utility section-title-h4 {
  @apply text-h4 xl:text-h4-lg uppercase;
}

@utility section-title-h3 {
  @apply text-h3 xl:text-h3-lg uppercase;
}

@utility section-title-h2 {
  @apply text-h2 xl:text-h2-lg uppercase;
}

@utility before-bullet {
  @apply relative pl-7;
  &::before {
    @apply content-[''] size-3 absolute left-0 top-1/2 -translate-y-1/2 bg-primary rounded-full;
  }
}


@utility half-wrap-image {
  @apply aspect-square w-full xl:w-1/2 max-w-half-lg overflow-hidden rounded-lg;
}

@utility half-wrap-content {
  @apply w-full xl:w-1/2 flex flex-col items-start;
}

@layer components {
  /* Typography */
  .heading-1 {
    @apply text-h1 xl:text-h1-lg uppercase;
  }

  /* Navigation */
  .header-wrap {
    @apply w-full absolute z-6 inset-x-0 top-0 min-w-xs;
    &.mob-open {
      @apply h-auto;
    }
  }
  .header-mob-wrap {
    @apply content h-full relative z-7 xl:hidden group-[.mob-open]:bg-background-dark px-6;
  }
  .header-mob-top {
    @apply flex items-center justify-between gap-4 h-full min-h-16 xl:min-h-33;
  }
  .header-mob-inner {
    @apply hidden group-[.mob-open]:flex flex-col items-start gap-10 py-10
  }
  .header-contact {
    @apply flex flex-col gap-2 items-start;
  }
  .header-contact-text {
    @apply text-dark-main font-secondary text-body-xs w-full pb-2;
  }
  .header-contact-link {
    @apply text-white text-body-lg hover:underline
  }
  .header-button-wrap {
    @apply w-full flex items-center justify-center;
  }
  .header-socials {
    @apply flex items-center justify-center gap-8 w-full;
  }
  .header-socials-item {
    @apply flex items-center justify-center size-11 shrink-0;
    & > img {
      @apply w-full;
    }
  }

  .nav-wrap {
    @apply flex gap-6 flex-col xl:flex-row items-start xl:items-center;
  }

  .nav-link {
    @apply text-body-md font-medium xl:text-header-field font-secondary text-white hover:text-primary;
  }

  /* Buttons */
  .btn-primary {
    @apply rounded-full border border-transparent py-3 px-4 flex items-center justify-center gap-4 transition-colors cursor-pointer;
    &:hover {
      @apply border-light-stroke;
    }
    &:disabled {
      @apply cursor-default border-transparent;
      .btn-primary-text {
        @apply text-dark-main;
      }
      .btn-primary-icon {
        @apply opacity-80 bg-dark-main;
      }
    }
    &.--yellow {
      .btn-primary-icon {
        @apply bg-primary;
      }
      &:hover {
        @apply border-primary-light-3;
        .btn-primary-icon {
          @apply bg-primary-light-3;
        }
      }
      &:disabled {
        .btn-primary-text {
          @apply text-light-main;
        }
        .btn-primary-icon {
          @apply bg-light-main;
        }
        &:hover {
          @apply border-transparent;
        }
      }
    }
    &.--dark {
      &:hover {
        @apply border-foreground;
      }
      .btn-primary-text {
        @apply text-foreground uppercase
      }
      .btn-primary-icon {
        @apply bg-foreground
      }
    }
    .btn-primary-text {
      @apply text-md-button xl:text-lg-button text-white grow uppercase;
    }
    .btn-primary-icon {
      @apply bg-white w-14 h-7 shrink-0 rounded-full flex items-center justify-center;
      img {
        @apply w-6;
      }
    }
  }

  /* Form elements */
  .sap-form-wrap {
    @apply grid grid-cols-1 xl:grid-cols-2 gap-4;
  }
  .sap-form-rules-text {
    @apply text-body-xs text-dark-main;
  }
  .sap-form-rules-link {
    @apply text-white underline-offset-2 hover:underline;
  }
  .sap-input {
    @apply flex flex-col gap-3 items-start;
    &:hover {
      .sap-input-clear {@apply opacity-100}
    }
    &.--disabled {
      .sap-input-label {@apply text-light-main}
      .sap-input-clear {@apply invisible}
      .sap-input-field {@apply placeholder:text-light-stroke text-light-stroke}
    }
    &.--error {
      .sap-input-error {@apply flex}
      .sap-input-field {@apply border-danger}
    }
  }
  .sap-input-label {
    @apply text-body-xs text-white;
  }
  .sap-input-inner {
    @apply w-full relative;
  }
  .sap-input-field {
    @apply w-full h-input-height border-2 border-transparent bg-white py-3 pl-3 pr-9 font-secondary placeholder:font-secondary placeholder:text-header-field text-foreground rounded-md outline-none relative z-2 placeholder:text-dark-main;
    &:focus {
      @apply border-primary-stroke;
    }
    textarea& {
      @apply min-h-[152px] py-3 resize-none
    }
  }
  .sap-input-clear {
    @apply items-center justify-center absolute z-3 right-3 top-1/2 -translate-y-1/2 size-6 cursor-pointer hover:opacity-75 transition-opacity duration-200 opacity-5;
    img {
      @apply w-full h-full object-cover
    }
  }
  .sap-input-error {
    @apply hidden flex gap-2 items-start
  }
  .sap-input-error-text {
    @apply flex flex-col gap-2;
    p {
      @apply text-dark-main text-xs w-full;
    }
  }

  /* Common */
  .list-primary {
    @apply list-none;
    li {
      @apply relative py-4 pl-9 not-last:border-b border-dark-stroke-hover text-body-md xl:text-body-lg;
      &::before {
        @apply content-[''] size-3 absolute left-0 top-1/2 -translate-y-1/2 bg-primary rounded-full;
      }
    }
    &.--no-bullet {
      li {
        @apply pl-0;
        &::before {@apply content-none}
      }
    }
    &.--black {
      li {
        &::before {
          @apply bg-foreground
        }
      }
    }
  }


  .section-project {
    @apply w-full rounded-lg transition-colors bg-transparent hover:bg-gray-hover w-full flex flex-col xl:flex-row xl:even:flex-row-reverse gap-6 xl:gap-8 xl:justify-between pb-10 xl:pb-0 overflow-hidden;
    &:hover {
      .section-project-arrow {
        @apply bg-primary;
      }
    }
    &:nth-child(even) {
      .section-project-arrow {@apply xl:right-auto xl:-left-11}
      .section-project-info {@apply xl:pl-6 xl:pr-0}
    }
  }
  .section-project-pic {
    @apply half-wrap-image xl:max-w-full xl:w-full relative overflow-visible;
    img {
      @apply w-full h-full object-cover rounded-lg relative z-2;
    }
  }
  .section-project-arrow {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 xl:-right-11 xl:left-auto xl:translate-x-0 z-3 flex items-center justify-center transition-colors size-22 rounded-full bg-white;
    svg {
      @apply w-full h-full;
    }
  }
  .section-project-info {
    @apply half-wrap-content xl:shrink-0 xl:justify-between gap-8 xl:py-14 xl:pr-6
  }
  .section-project-info-top {
    @apply w-full flex flex-col gap-2;
  }
  .section-project-info-bot {
    @apply w-full flex flex-col gap-6;
  }

  .section-project-location {
    @apply before-bullet text-subtitle xl:text-subtitle-lg text-dark-main relative uppercase;
  }


  /* section-step-item */
  .section-step-item {
    @apply flex flex-col items-start xl:flex-row xl:justify-start gap-2 not-last:border-b border-primary-stroke py-4 xl:py-6;
  }
  .section-step-number {
    @apply text-company-name xl:text-step-number xl:w-[24%];
  }
  .section-step-title {
    @apply text-body-lg xl:text-h4-lg uppercase xl:w-[37%];
  }
  .section-step-text {
    @apply text-body-md xl:text-body-lg text-primary-text;
  }
  .section-step-text-wrap {
    @apply xl:w-[39%]
  }

  /* Blog */
  .blog-item {
    @apply relative rounded-lg overflow-hidden bg-background-dark-card max-w-[321px] xl:max-w-[427px] px-4 py-6 xl:px-6 flex flex-col gap-6 items-start hover:bg-gray-hover transition-colors shrink-0;
    &:hover {
      .blog-tag {@apply bg-primary;}
      .blog-link {@apply bg-primary;}
    }
  }
  .blog-tag {
    @apply min-h-[34px] px-2 py-1 bg-background-light rounded-full text-foreground text-body-xs flex items-center justify-center uppercase transition-colors whitespace-nowrap;
    &.--article {
      @apply bg-transparent text-white border px-4 border-dark-stroke-hover;
    }
    &.--active {
      @apply bg-primary text-foreground
    }
  }
  .blog-title {
    @apply line-clamp-4 text-body-lg xl:text-h3 h-32 xl:h-40;
  }
  .blog-pic {
    @apply overflow-hidden w-full aspect-blog-pic rounded-lg;
    & > img {
      @apply w-full h-full object-cover;
    }
  }
  .blog-bottom {
    @apply flex items-center justify-between w-full gap-2;
  }
  .blog-date {
    @apply text-subtitle xl:text-subtitle-lg;
  }
  .blog-link {
    @apply size-10 rounded-full overflow-hidden bg-white flex items-center justify-center transition-colors;
    & > svg {
      @apply rotate-180
    }
  }

  .article-text {
    @apply w-full mx-auto max-w-half-lg;
    h2, h3, h4, h5, h6 {
      @apply text-body-md text-white xl:text-h3 not-last:mb-4 not-first:mt-6 not-last:xl:mb-8 not-first:xl:mt-14
    }
    p, ul, ol {
      @apply text-body-sm xl:text-body-lg text-dark-main
    }
  }

  .pagination-button {
    @apply size-8 xl:size-12 text-body-sm xl:text-subtitle-lg text-center flex justify-center items-center leading-none rounded-lg border border-dark-stroke-hover text-light-main hover:border-white hover:text-white transition-colors cursor-pointer;
    &.--active {
      @apply bg-primary text-foreground
    }
  }

  /* Reviews */
  .review-item {
    @apply flex flex-col justify-between gap-4 p-4 xl:p-10 bg-background-light transition-colors hover:bg-primary-light-3 rounded-lg w-full max-w-[427px] h-full min-h-86 shrink-0
  }

  .socials-link {
    @apply size-11 transition-opacity hover:opacity-75 flex items-center justify-center;
    img {
      @apply w-full;
    }
  }
}